* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
}

h2 {
  font-size: 2em;
}
html,
body {
  margin: 0;
  padding: 0;
  /* font-size: 1.2em; */
  line-height: 1;
  color: #f2f5f7;
}

header {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* min-height: 80vh; */
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 3em;
}

a {
  text-decoration: none;
  color: white;
}
.logo {
  text-decoration: none;
  color: #94ff9d;
  font-size: xx-large;
  font-weight: 800;
  letter-spacing: 2px;
}

.logo span {
  color: red;
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  width: 45%;
}

.nav-item {
  display: inline-block;
  margin: 0px 5px;
  padding: 2px 1px;
}

.nav-item a:hover {
  cursor: pointer;
  color: #c9cbff;
}

.nav-icon {
  display: none;
  border: 1px solid white;
  border-radius: 5px;
}
.nav-icon div {
  width: 25px;
  height: 4px;
  background-color: white;
  margin: 5px;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10%;
  flex: 1 1 100%;
  align-items: center;
}

.header-column {
  flex: 1 1 60%;
  margin: 20px 0;
}

.section-header {
  font-size: 2em;
}

.header-column1 {
  flex: 1 1 40%;
  text-align: center;
  margin: 20px 0;
}

.header-column2 {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 100%;
  border-radius: 15px;
}

.img-money {
  width: 70%;
}

.button-header {
  background: rgb(108, 99, 255);
  color: white;
  padding: 8px;
  margin: 10px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 1em;
}

..button-header:hover {
}
.exchange-table {
  display: flex;
  justify-content: space-evenly;
}

.currency-col {
  flex: 1 1 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.currency-img {
  width: 80%;
  border-radius: 50%;
}

.currency-name {
  color: #a8c7ff;
}

.currency-value {
  font-size: 0.8em;
}

.main-container {
  color: black;
}

.input-send {
  display: flex;
}

.input-amount {
  flex: 1 1 70%;
  border-radius: 5px;
  color: #0069c7;
  font-weight: 700;
  line-height: 2em;
}

.currency-opt {
  flex: 1 1 30%;
  font-size: 14px;
  font-weight: 600;
  line-height: 2em;
  margin: 0 3px;
}

.live-rate-col {
  flex: 1 1 60%;
  border-radius: 15px;
  border: 2px solid white;
  background-color: #172c4c;
  padding: 16px 10px;
}

.live-rate-col span {
  font-weight: 400;
  font-size: small;
  font-style: italic;
}

.mon-trans-col {
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 16px 10px;
}

.transfer-title {
  color: cadetblue;
  justify-self: flex-start;
}

.transfer-col p {
  margin: 10px auto;
  color: #aeffad;
}

.transfer-col small {
  color: #40ffff;
}

.fee {
  color: #0069c7;
  background-color: white;
  border-radius: 5px;
  padding: 4px 0px;
  font-weight: 700;
}

.how-section {
  padding: 35px 0;
}

.how-container {
  display: flex;
  justify-content: center;
}

.how-col {
  flex: 1 1 33%;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  background-color: #84bdfe;
  padding: 10px 15px;
  margin: 5px 6px;
  border-radius: 5px;
}

.how-col p {
  font-size: 14px;
  margin: 5px auto;
}

.how-col h3 {
  font-size: 14px;
  margin: 5px auto;
}

.how-col img {
  width: 100%;
  border-radius: 10px;
  align-self: flex-end;
  margin-top: auto;
}

.container {
  margin: 0px 10%;
  padding: 10px 0px;
}

.whyus-section {
  background: #f5f5ff;
  padding: 35px 0;
}

.whyus-container {
  display: flex;
  justify-content: space-evenly;
}

.whyus-col {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.whyus-col img {
  width: 40%;
  max-width: 150px;
}
.whyus-col h3 {
  color: #263858;
}

.app-section {
  background-color: #0a2d54;
  padding: 35px 0;
  color: white;
}

.live-chart {
  text-align: center;
  margin: 20px auto;
  padding: 20px 0;
}

.live-chart iframe {
  width: 70%;
  height: 44vh;
  border-radius: 7px;
  padding: 5px;
  box-shadow: 3px 3px 3px 0px #082648;
}

.mobile-container {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: center;
}

.mobile-col1 {
  flex: 1 1 50%;
}

.mobile-col2 {
  text-align: center;
  flex: 1 1 50%;
}

.mobile-img {
  border-radius: 5px;
  width: 85%;
  box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.75);
}

.store-img {
  width: 35%;
  margin: 5px;
}

footer {
  background-color: black;
  padding: 20px 0;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: auto;
}

.footer-item {
  flex: 1 1 33%;
  display: block;
  margin: 5px;
}

@media screen and (max-width: 1199px) {
  h2 {
    font-size: 1.5em;
  }
  .nav-list {
    width: 55%;
  }
  .section-header {
    font-size: 1.5em;
  }
  .section-p {
    font-size: 1em;
  }
}

@media screen and (max-width: 1024px) {
  .nav-list {
    width: 70%;
  }
  .header-container {
    /* margin: 0 10%; */
  }
  .how-col h3 {
    font-size: 17px;
  }
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 1.3em;
  }
  .nav-list {
    position: absolute;
    right: 3px;
    top: 27px;
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 30%;
    background-color: #152033;
    border-radius: 25px;
    border: 1px solid white;
    visibility: hidden;
    transform: translateY(-10px);
  }
  .show {
    visibility: visible;
    transform: translateX(0px);
    transition: 0.5s;
  }
  .nav-item {
    margin: 5px;
  }
  .nav-icon {
    display: block;
    z-index: 1;
    background-color: #152033;
  }
  .header-container {
    margin: 0 5%;
  }
  .section-header {
    font-size: 1.3em;
  }
  .section-p {
    font-size: 0.8em;
  }
  .transfer-col p {
    font-size: 0.8em;
  }

  nav {
    padding: 1em 2em;
  }
  .container {
    margin: 0px 5%;
  }
  .whyus-col h3 {
    font-size: 0.9em;
  }
  .live-chart iframe {
    width: 80%;
    height: 35vh;
  }
  .mobile-container {
    flex-wrap: wrap-reverse;
  }
  .mobile-col1 {
    flex: 1 1 100%;
  }

  .mobile-col2 {
    display: none;
  }
  .store-img {
    width: 30%;
  }
}

@media screen and (max-width: 576px) {
  .button-header {
    font-size: 0.8em;
  }
  .header-column {
    flex: 1 1 100%;
    margin: 5px 0;
  }
  .header-column1 {
    flex: 1 1 100%;
    order: -1;
  }
  .currency-name {
    font-size: 0.7em;
  }
  .currency-value {
    font-size: 0.5em;
  }
  .live-rate-col h3 {
    font-size: 1em;
  }
  .img-money {
    width: 50%;
  }
  nav {
    padding: 1em;
  }
  .nav-list {
    width: 60%;
  }
  .how-container {
    flex-wrap: wrap;
  }
  .how-col {
    max-width: 50%;
  }
  .how-col h3 {
    font-size: 20px;
    /* margin-top: 10px; */
  }
  .whyus-col h3 {
    font-size: 0.6em;
  }
  .live-chart iframe {
    width: 90%;
    height: 25vh;
  }
}

@media screen and (max-width: 350px) {
  .whyus-col h3 {
    font-size: 0.5em;
  }
  .store-img {
    width: 40%;
  }
  .how-col {
    flex: 1 1 100%;
    max-width: 90%;
  }
}
